//set up colors:
$darkGreen: #264408;
$grey: #333;
$white: #fff;
$blue: #2757f6;

//fonts:
$condensed-font: 'Roboto Condensed', sans-serif;
$wide-font: 'Alfa Slab One', cursive;
$font-space: 2px;
$leading-body: 25px;
$leading-header: 35px;

//mixins:
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

//extends:
%flex-shared {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

//globals
body {
	background-color: $darkGreen;
	background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.02) 50%);
	background-size: 100px 100px;
	margin: 0 auto;
	font-family: $condensed-font;
	letter-spacing: $font-space;
	line-height: $leading-body;

	h1, {
		font-family: $wide-font;
		letter-spacing: $font-space;
		margin: 0;
		color: $white;
	}

	h2, h3, h4, h5 {
		font-family: $condensed-font;
		margin: 0;
		color: $blue;
	}

	form {
		@extend %flex-shared;
		width: 50%;
	}

	header {
		margin-top: 20px;
	}

	input {
		border-width: 0px;
		padding: 5px;
		font-size: 20px;
	}
}

.App {
	text-align: center;
	padding: 20px 50px;
	color: $grey;
	width: 100%;

	.App-logo, .App-logo1 {
		animation: App-logo-spin infinite 10s linear;
		height: 50px;
		margin-right: 10px;
	}

	.App-logo1 {
		margin-left: 10px;
	}

	.lead {
		width: 80%;
		margin: 20px auto;
		line-height: $leading-body;
		color: $white;
	}

	.container {
		@extend %flex-shared;
		margin: 25px auto;
		padding: 20px;
	}

	.input-group {
		@extend %flex-shared;
		margin: 0 auto;
		width: 100%;
	}

	.input {
		width: 100%;
		height: 50px;
		@include border-radius(4px);
	}

	.list-group-item {
		text-transform: capitalize;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		padding: 5px;
	}

	.teams {
		background-color: $white;
		padding: 35px;
		@include border-radius(4px);
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}

	.teamOutput {
		@extend %flex-shared;
		width: 100%;
		margin-top: 40px;
	}

	.teamGen {
		margin-right: 10px;
	}

	.teamName {
		color: $grey;
		margin-bottom: 25px;
	}

	.card {
		text-transform: uppercase;
		font-family: $wide-font;
		font-size: 20px;
		line-height: $leading-header;
	}

	.btn-warning {
		margin-right: 5px;
	}

	.btn-primary {
		margin-left: 10px;
	}

}

//css animations
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } 
}

///Media Queries
@media screen and (max-width : 991px) {
	form {
		width: 100%;
	}
}

//ipad width vertical
@media screen and (max-width : 768px) {
	// .App {
	// 	width: 80%;
	// }
}

@media screen and (max-width : 568px) {
	.App-logo1 {
		display: none;
	}
}	
