body {
  background-color: #264408;
  background-image: linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.02) 50%);
  background-size: 100px 100px;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px; }

h1 {
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 2px;
  margin: 0;
  color: white; }

h2, h3, h4, h5 {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  color: white; }

header {
  margin-top: 20px; }

.App {
  text-align: center;
  color: #999; }

.App-logo, .App-logo1 {
  animation: App-logo-spin infinite 10s linear;
  height: 50px;
  margin-right: 10px; }

.App-logo1 {
  margin-left: 10px; }

.football-form {
  text-align: center;
  margin: 0 auto; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
