html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.App {
  text-align: center;
  padding: 10px 20px; }

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 1.2em;
  margin: 20px 10px 0 0; }

body {
  background-color: #288c1a;
  background-image: linear-gradient(90deg, transparent 50%, rgba(29, 120, 29, 0.5) 50%);
  background-size: 10em 10em;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #231f20; }

h1 {
  font-size: 2.5em;
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 0.04em;
  margin-top: 0; }

h2 {
  font-size: 2em; }

form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left; }

input, .submitBtn {
  padding: 2px 10px;
  height: 2em;
  outline: none; }

.addBtn {
  width: 10%;
  padding: 10px 5px;
  margin: 10px 0;
  border-radius: 4px; }

input {
  width: 25%;
  font-size: 1.2em;
  border-radius: 4px;
  border: none;
  margin: 5px 5px 0 0; }

.playerForm {
  margin-top: 1em;
  padding: 2em 0 3em 0; }
  .playerForm h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #fff; }

.submitBtn {
  width: 5em;
  font-size: 1em;
  margin-left: 8px;
  border-radius: 4px;
  border: none;
  background-color: #0431B4;
  color: #fff; }

.playerList {
  margin-top: 0.5em;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bold;
  color: #fff; }
  .playerList li {
    font-size: 0.8em;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #231f20;
    background-color: #fff;
    width: 30%;
    margin: 0.5em auto;
    padding: 0.2em 0; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
