body {
  background-color: #288c1a;
  background-image: linear-gradient(90deg, transparent 50%, rgba(29, 120, 29, 0.5) 50%);
  background-size: 10em 10em;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #231f20; }

h1 {
  font-size: 3em;
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 0.04em; }

h2 {
  font-size: 2em; }

input, .submitBtn {
  padding: 2px 10px;
  height: 3em; }

input {
  width: 25em;
  font-size: 1.2em;
  border-radius: 8px;
  border: none; }

.submitBtn {
  width: 5em;
  height: 5em;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #f23d00;
  color: #fff; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-top: 50px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
